entrypoint = "index.js"
modules = ["dotnet-10.0", "angular-node-20", "angular-node-24", "nodejs-20"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Install packages"
mode = "sequential"
author = 43010012

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install discord.js dotenv node-fetch ytdl-core erela.js @discordjs/voice && npm install --save-dev nodemon"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Config Panel"

[[workflows.workflow]]
name = "Config Panel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36415
externalPort = 3000
